mixin comment(commentData)
  .comment
    if commentData.adminPost
      em Posted by Admin
    .date= commentData.date
    .author= commentData.author 
    .text= commentData.text
    
//- Defines doctype
doctype html
//- Defines top level html
html
  //- Start head
  head
    //- Define title and import stypesheet
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  //- Use include for partial template
  include partials/navbar
  br

  //- Block to be overriden when inherited
  body
    block content
  br
  br

  - const commentData = {"date": "04-02-2022", "author": "Humber", "text": "Copyright © 2022"}
  +comment(commentData)
  br 
  - const commentData2 = {"adminPost": true, "date": "10-12-2022", "author": "York", "text": "Copyright © 2022"}
  +comment(commentData2)
