nav
    a(href="/") Home
    br
    a(href="/attributes") Attributes
    br
    a(href="/loops") Loops
    br
    a(href="/conditionals") Conditionals
    br
    a(href="/error") Error
    br
    br
    include user_login
